<div class="section">
  <h3 class="widgettitle">Sign me up!</h3>
  <p class="note">If you want to follow my blog:</p>
  <ul class="subscribe-options">
    <li class="twitter-badge"></li>
    <li class="googleplus-badge"></li>
    <li class="rss-badge"></li>
  </ul>
</div>
<br/>
<div class="section">
  <h3 class="widgettitle">Twitter</h3>
  <script>
  // Twitter API
  !function (d, s, id)
  {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (!d.getElementById(id))
      {
        js = d.createElement(s); js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
      }
    } (document, 'script', 'twitter-wjs');
  </script>
  <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/jeqo89" data-widget-id="537247470204780544">Tweets from @jeqo89.</a>
</div>
